/* Hide scrollbar in Chrome, Safari, and Opera */
#ParentsData::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
#ParentsData {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}